* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-size: 10px;
}
.blue {
  width: 100%;
  height: 300px;
  background-color: aqua;
}
.green {
  width: 100%;
  height: 200px;
  background-color: green;
}
.grey {
  width: 100%;
  height: 350px;
  background-color: rgb(58, 58, 58);
  border-top: 10px solid gray;
  display: flex;
  align-items: center;
}
.grey div {
  background-color: aliceblue;
  width: 80px;
  height: 20px;
  margin-left: 5px;
}
.mario {
  position: relative;
  top: -20rem;
  animation-name: movemario;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.luigi {
  position: relative;
  top: -10rem;
  left: -7rem;
  animation-name: moveluigi;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movemario {
  from {
    top: -33rem;
    left: 0rem;
  }
  to {
    top: -33rem;
    left: 120.5rem;
  }
}
@keyframes moveluigi {
    from {
        top: -16rem;
        left: -7rem;
      }
      to {
        top: -16rem;
        left: 120.5rem;
      }

}
